.header {
  padding: 10px 20px;
  height: 60px;
  text-align: left;
  color: #111;
  font-family: serif;
  background-color: #fff;
  width: 100%;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 0;
}

.side-head{
  margin-top: 10px;
  font-size: 1.3rem;
}

.side-head select{
  margin-top: 10px;
  width: 62.5%;
  height: 30px;
}

.container{
  background-color:  rgba(0, 0, 0, 0.018);
}

.logo-heading{
  color: rgb(241, 18, 18);
}

.tooltip{
  width: auto;
  height: 180px;
}

.tooltip tr{
  width: 100%;
}

.container:after {
  content: "";
  display: table;
  clear: both;
}

.sidebar{
  margin-top: 20px;
  float: left;
  width: 25%;
  color: #333;
  height: 580px;
  border-radius: 1.0875rem;
  background-color: #fff;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 4.8px 33.4px rgba(0, 0, 0, 0.086),
  0 5px 50px rgba(0, 0, 0, 0.12);
  padding-left: 10px;
}

#chartdiv {
  margin: 20px;
  padding-left: 5px;
  border-radius: 1.0875rem;
  background-color: #fff;
  float: left;
  width: 70.5%;
  height: 580px;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 4.8px 33.4px rgba(0, 0, 0, 0.086),
  0 5px 80px rgba(0, 0, 0, 0.12);
}

#piediv{
  height: 75%;
}

.footer {
  height: 30px;
  text-align: left;
  border-top: 1px solid lightgrey;  
  margin: 0;
  color: #297FDB;
  padding-top: 10px;
  padding-left: 35px;
}

i.fab{
  padding-left: 5px;
  color: #008DC9;
}

.credits{
  font-size: x-small;
  font-style: italic;
  float: right;
  padding-right: 10px;
}

.developer{
 padding-left: 10px;
}

.copy{
  float: right;
  padding-right: 15px;
}

@media screen and (max-width: 800px) {
    .header{
      position: fixed;
      font-size: x-large;
      padding-top: 15px;
    }
    .sidebar{   
      width: 91.5%;
      height: 78.5vh;
      margin: 18px;
    }

    .tooltip table{
      font-size: small;
    }

    .tooltip img{
      height: 25%;
      width: 45px;
    }

    #chartdiv{
      width: 91.5%;
      height: 56.5vh;
      margin-top: 70px;
    }

    .footer{
      height: 42px;
      margin-top: 5px;
    }

    .credits{
      font-size: xx-small;
    }
  }